// NOTIFICATIONS + ALERTS
// --------------------------------------------------

.alert {
	background-color:transparent;
	border-color:@black;
	color:@black;
	margin:40px auto;
	width:100%;
	padding:30px;
	border-radius:0;
	position:relative;
	&:before,
	&:after {
		content:"";
		position:absolute;
		top:-20px;
		left:ceil(@font-size-base * 2.8125);
		z-index:1;
		height:0;
		width:0;
		background:transparent;
		border-left: 20px solid transparent;  /* left arrow slant */
		border-right: 20px solid transparent; /* right arrow slant */
		border-bottom: 20px solid @black; /* bottom, add background color here */
	}
	&:after {
		z-index:2;
		border-bottom-color:@white;
		margin-top:2px;
	}
	.block-header {
		margin-bottom:20px;
	}
	.block-title {
		font-weight:400;
	}
	ul,
	li {
		list-style:none;
		margin:0;
		padding:0;
	}
	ul {
		margin-top:20px;
	}

} // alert

.block&.colored {
	.alert {
		color:@white;
		border-color:@white;
	}
	.alert:before {
		border-bottom-color:@white;
	}
} // .block.colored

.block&.gray {
	.alert:after {
		border-bottom-color:@block-gray;
	}
} // .block.colored

// MQ - ALERTS
// --------------------------------------------------

//// max 1999px
//@media (max-width: @screen-xxl-max) {
//	.alert {
//		&:before,
//		&:after {
//			left:ceil(@font-size-base * 2.6);
//		}
//	}
//} // max 1999px
//// max 1679px
//@media (max-width: @screen-xl-max) {
//	.alert {
//		&:before,
//		&:after {
//			left:ceil(@font-size-base * 2.5);
//		}
//	}
//} // max 1679px
//// max 1439px
//@media (max-width: @screen-lg-max) {
//	.alert {
//		&:before,
//		&:after {
//			left:ceil(@font-size-base * 2.45);
//		}
//	}
//} // max 1439px
//// max 1199px
@media (max-width: @screen-md-max) {
	.alert {
		&:before,
		&:after {
			left:ceil(@font-size-base * 2.3);
		}
	}
} // max 1199px
// max 991px
@media (max-width: @screen-sm-max) {
	.alert {
		&:before,
		&:after {
			left:ceil(@font-size-base * 2.15);
		}
	}
	.block&.colored .alert {
		& {
			margin-top:60px;
		}
		.block-icon {
			float:none;
			margin-bottom:20px;
		}
		ul {
			padding-left:0;
		}
	}
} // max 991px
// max height 900px
//@media (max-height: @screen-md-height) {
//	.alert {
//		&:before,
//		&:after {
//			left:ceil(@font-size-base * 2.15);
//		}
//	}
//} // max height 900px