// BOOTSTRAP OVERRIDES
// --------------------------------------------------

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color:transparent;
  font-weight:600; /* semi-bold */
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color:transparent;
}

.navbar-nav {
	float:right !important;
}