// FORMS
// --------------------------------------------------

/*
::-webkit-input-placeholder {
  color: #999;
  text-transform:uppercase;
  font-size:12px;
  line-height:24px;
  vertical-align:middle;
}
:-moz-placeholder {
  color: #999;
  text-transform:uppercase;
  font-size:12px;
  line-height:24px;
    vertical-align:middle;
}
::-moz-placeholder {
  color: #999;
  text-transform:uppercase;
  font-size:12px;
  line-height:24px;
    vertical-align:middle;
}
:-ms-input-placeholder {
  color: #999;
  text-transform:uppercase;
  font-size:12px;
  line-height:24px;
    vertical-align:middle;
}
*/

.form-control {
  border:0;
  border-color:transparent;
}

.form-control:focus {
/*border-color:transparent;*/
  border-color:#555;
  box-shadow:none;
  outline:0;
}