// TYPOGRAPHY
// --------------------------------------------------

body {
	font-size:@font-size-body;
}
p {
	margin: 0 0 (@line-height-computed);
}

h4 {
	margin-top:0;
	font-weight:600; /* semibold */
}
h5 {
	margin-top:0;
	font-weight:600; /* semibold */
}
h6 {
	margin-top:0;
	font-weight:600; /* semibold */
}

.lead {
	font-size:@lead;
	font-weight:400; /* regular */
	line-height:1.3;
	margin:0;
}

//// 2000px and up
//// -------------------------------
//@media (min-width: @screen-xxxl-min) {
//	@font-size-body:16px;
//	@font-size-base:16px;
//	body {
//		font-size:@font-size-body;
//	}
//	p {
//		margin: 0 0 (@line-height-computed);
//	}
//} // 2000px and up
//
//// 1680px to 1999px
//// -------------------------------
//@media (min-width: @screen-xxl-min) and (max-width: @screen-xxl-max) {
//	@font-size-body:15px;
//	@font-size-base:14px;
//	body {
//		font-size:@font-size-body;
//	}
//	p {
//		margin: 0 0 (@line-height-computed);
//	}
//} // 1680px to 1999px
//
//// 1440 to 1679px
//// -------------------------------
//@media (min-width: @screen-xl-min) and (max-width: @screen-xl-max) {
//	@font-size-body:14px;
//	@font-size-base:13px;
//	body {
//		font-size:@font-size-body;
//	}
//	p {
//		margin: 0 0 (@line-height-computed);
//	}
//} // 1440 to 1679px
//
//// 1200px to 1439px
//// -------------------------------
//@media (min-width: @screen-lg-min) and (max-width: @screen-lg-max) {
//	@font-size-body:14px;
//	@font-size-base:13px;
//	@navbar-height:80px;
//	body {
//		font-size:@font-size-body;
//	}
//	p {
//		margin: 0 0 (@line-height-computed);
//	}
//} // 1200px to 1439px

// 992px to 1199px
// -------------------------------
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	@font-size-body:14px;
	@font-size-base:12px;
	@navbar-height:80px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
} // 992px to 1199px

// 768px to 991px
// -------------------------------
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	@font-size-body:14px;
	@font-size-base:11px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
} // 768px to 991px

// 480px to 767px
// -------------------------------
@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
	@font-size-body:14px;
	@font-size-base:11px;
	body {
		font-size:@font-size-body;
	}
	p {
		margin: 0 0 (@line-height-computed);
	}
} // 480px to 767px

// 479px and lower
// -------------------------------
//@media (max-width: @screen-xxs-max) {
//	@font-size-body:14px;
//	@font-size-base:11px;
//	body {
//		font-size:@font-size-body;
//	}
//	p {
//		margin: 0 0 (@line-height-computed);
//	}
//} // 479px and lower

// 900px and shorter
// -------------------------------
//@media (max-height: @screen-md-height) {
//	@font-size-body:14px;
//	@font-size-base:11px;
//	body {
//		font-size:@font-size-body;
//	}
//	p {
//		margin: 0 0 (@line-height-computed);
//	}
//} // 900px and shorter