// HYPHENS
// --------------------------------------------------

/* NOTES:
* The <html> tage requires that lang="en" be set.
* In Firefox, the hyphen property does not work on any words that are all caps in the HTML.
* Best to use text-transform property to make any text uppercase.
* Chrome does not support hyphens at all.
*/

.hyphens {

//if lt IE 10
-ms-word-break: break-all;

//advanced css4 property works in webkit
word-break: normal; /* express standard property as default */
word-break: break-word;

//standard + browser-specific property
-webkit-hyphens: auto;
-moz-hyphens: auto;
-ms-hypehens: auto; /* IE10 */
hyphens: auto;

//specify hyphen unicode character
-webkit-hyphenate-character: "\2010";
hyphenate-character: "\2010";

}