//
// MQ - Column Width Adjustments
// --------------------------------------------------


// min 1680px
// -------------------------------

/* EXAMPLE USAGE
@media (min-width: @screen-xxl-min) {

    #main {
		.block-container {
			&.col-xxl-10 {
		  	width:80%;
			}
		} // block-container
    } // main

    #sidebar {
	    .sidebar-container {
		    &.col-xxl-2 {
			  width:20%;
		    }
	    } // sidebar-container
    } // sidebar

}
/*