// GLOBAL PRINT STYLESHEET
// --------------------------------------------------

@media print {

  a[href]:after,  abbr[title]:after {
    content: none;
  }
  .backstretch {
    display: none !important;
  }

}