//
// Grid - Media Query XL
// --------------------------------------------------

// Media queries breakpoints
// --------------------------------------------------

// Extra Large screen / wide desktop
// Note: Deprecated @screen-xl and @screen-xl-desktop as of v3.0.1
@screen-xl:                  1440px;
@screen-xl-min:              @screen-xl;
@screen-xl-desktop:          @screen-xl-min;

// So media queries don't overlap when required, provide a maximum
@screen-lg-max:              (@screen-xl-min - 1);

// Container sizes
// --------------------------------------------------

// Extra Large screen / wide desktop
@container-xl-desktop:      ((@screen-xl-desktop - @grid-gutter-width));
@container-xl:                 85%;

// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the Extra Large desktop device range.
//
// Note that `.col-xl-12` doesn't get floated on purpose--there's no need since
// it's full-width.

@media (min-width: @screen-xl-min) {
  .container {
    width: @container-xl;
  }

  .make-grid-columns-float(xl);
  .make-grid(@grid-columns, xl, width);
  .make-grid(@grid-columns, xl, pull);
  .make-grid(@grid-columns, xl, push);
  .make-grid(@grid-columns, xl, offset);
}

// Mixins

// Generate the Extra Large columns
.make-xl-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: @screen-xl-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}

// Generate the Extra Large column offsets
.make-xl-column-offset(@columns) {
  @media (min-width: @screen-xl-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-push(@columns) {
  @media (min-width: @screen-xl-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-xl-column-pull(@columns) {
  @media (min-width: @screen-xl-min) {
    right: percentage((@columns / @grid-columns));
  }
}

// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `@grid-columns`.

.make-grid-columns() {
  // Common styles for all sizes of grid columns, widths 1-12
  .col(@index) when (@index = 1) { // initial
    @item: ~".col-xl-@{index}";
    .col(@index + 1, @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
    @item: ~".col-xl-@{index}";
    .col(@index + 1, ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      position: relative;
      // Prevent columns from collapsing when empty
      min-height: 1px;
      // Inner gutter via padding
      padding-left:  (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
    }
  }
  .col(1); // kickstart it
}

//
// Responsive: Utility classes
// --------------------------------------------------

@-ms-viewport {
  width: device-width;
}

// Visibility utilities

.visible-xs {
  &.visible-xl {
    @media (min-width: @screen-xl-min) {
      .responsive-visibility();
    }
  }
}
.visible-sm {
  &.visible-xl {
    @media (min-width: @screen-xl-min) {
      .responsive-visibility();
    }
  }
}
.visible-md {
  &.visible-xl {
    @media (min-width: @screen-xl-min) {
      .responsive-visibility();
    }
  }
}
.visible-xl {
  .responsive-invisibility();
  &.visible-xs {
    @media (max-width: @screen-xs-max) {
      .responsive-visibility();
    }
  }
  &.visible-sm {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      .responsive-visibility();
    }
  }
  &.visible-md {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      .responsive-visibility();
    }
  }
  @media (min-width: @screen-xl-min) {
    .responsive-visibility();
  }
}

.hidden-xs {
  &.hidden-xl {
    @media (min-width: @screen-xl-min) {
      .responsive-invisibility();
    }
  }
}
.hidden-sm {
  &.hidden-xl {
    @media (min-width: @screen-xl-min) {
      .responsive-invisibility();
    }
  }
}
.hidden-md {
  &.hidden-xl {
    @media (min-width: @screen-xl-min) {
      .responsive-invisibility();
    }
  }
}
.hidden-xl {
  @media (min-width: @screen-xl-min) {
    .responsive-invisibility();
  }
}