//
// Grid - Media Query XXXL
// --------------------------------------------------

// Media queries breakpoints
// --------------------------------------------------

// XXX Large screen / wide desktop
// Note: Deprecated @screen-xxxl and @screen-xxxl-desktop as of v3.0.1
@screen-xxxl:                  2000px;
@screen-xxxl-min:              @screen-xxxl;
@screen-xxxl-desktop:          @screen-xxxl-min;

// So media queries don't overlap when required, provide a maximum
@screen-xxl-max:              (@screen-xxxl-min - 1);

// Container sizes
// --------------------------------------------------

// XXX Large screen / wide desktop
@container-xxxl-desktop:      ((@screen-xxxl-desktop - @grid-gutter-width));
@container-xxxl:                 70%;

// XXX Large grid
//
// Columns, offsets, pushes, and pulls for the XXX Large desktop device range.
//
// Note that `.col-xxxl-12` doesn't get floated on purpose--there's no need since
// it's full-width.

@media (min-width: @screen-xxxl-min) {
  .container {
    width: @container-xxxl;
  }

  .make-grid-columns-float(xxxl);
  .make-grid(@grid-columns, xxxl, width);
  .make-grid(@grid-columns, xxxl, pull);
  .make-grid(@grid-columns, xxxl, push);
  .make-grid(@grid-columns, xxxl, offset);
}

// Mixins

// Generate the XXX Large columns
.make-xxxl-column(@columns; @gutter: @grid-gutter-width) {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  (@gutter / 2);
  padding-right: (@gutter / 2);

  // Calculate width based on number of columns available
  @media (min-width: @screen-xxxl-min) {
    float: left;
    width: percentage((@columns / @grid-columns));
  }
}

// Generate the XXX Large column offsets
.make-xxxl-column-offset(@columns) {
  @media (min-width: @screen-xxxl-min) {
    margin-left: percentage((@columns / @grid-columns));
  }
}
.make-xxxl-column-push(@columns) {
  @media (min-width: @screen-xxxl-min) {
    left: percentage((@columns / @grid-columns));
  }
}
.make-xxxl-column-pull(@columns) {
  @media (min-width: @screen-xxxl-min) {
    right: percentage((@columns / @grid-columns));
  }
}

// Framework grid generation
//
// Used only by Bootstrap to generate the correct number of grid classes given
// any value of `@grid-columns`.

.make-grid-columns() {
  // Common styles for all sizes of grid columns, widths 1-12
  .col(@index) when (@index = 1) { // initial
    @item: ~".col-xxxl-@{index}";
    .col(@index + 1, @item);
  }
  .col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
    @item: ~".col-xxxl-@{index}";
    .col(@index + 1, ~"@{list}, @{item}");
  }
  .col(@index, @list) when (@index > @grid-columns) { // terminal
    @{list} {
      position: relative;
      // Prevent columns from collapsing when empty
      min-height: 1px;
      // Inner gutter via padding
      padding-left:  (@grid-gutter-width / 2);
      padding-right: (@grid-gutter-width / 2);
    }
  }
  .col(1); // kickstart it
}

//
// Responsive: Utility classes
// --------------------------------------------------

@-ms-viewport {
  width: device-width;
}

// Visibility utilities

.visible-xs {
  &.visible-xxxl {
    @media (min-width: @screen-xxxl-min) {
      .responsive-visibility();
    }
  }
}
.visible-sm {
  &.visible-xxxl {
    @media (min-width: @screen-xxxl-min) {
      .responsive-visibility();
    }
  }
}
.visible-md {
  &.visible-xxxl {
    @media (min-width: @screen-xxxl-min) {
      .responsive-visibility();
    }
  }
}
.visible-xxxl {
  .responsive-invisibility();
  &.visible-xs {
    @media (max-width: @screen-xs-max) {
      .responsive-visibility();
    }
  }
  &.visible-sm {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
      .responsive-visibility();
    }
  }
  &.visible-md {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
      .responsive-visibility();
    }
  }
  @media (min-width: @screen-xxxl-min) {
    .responsive-visibility();
  }
}

.hidden-xs {
  &.hidden-xxxl {
    @media (min-width: @screen-xxxl-min) {
      .responsive-invisibility();
    }
  }
}
.hidden-sm {
  &.hidden-xxxl {
    @media (min-width: @screen-xxxl-min) {
      .responsive-invisibility();
    }
  }
}
.hidden-md {
  &.hidden-xxxl {
    @media (min-width: @screen-xxxl-min) {
      .responsive-invisibility();
    }
  }
}
.hidden-xxxl {
  @media (min-width: @screen-xxxl-min) {
    .responsive-invisibility();
  }
}